@using GridMvc.Html
@model IEnumerable<A2.University.Web.Models.StaffPortal.CourseEnrolmentIndexViewModel>

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Manage Course Enrolments";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/courseEnrol.png")" />
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Add, edit or delete course enrolments
            </p>
        </div>
    </div>
</div>

<div class="row vert-gap">
    <div class="col-md-12">
        <span>
            <a href="@Url.Action("Create", "CourseEnrolment")">Create New Course Enrolment</a>
        </span>
    </div>
</div>

@*
    Grid.Mvc package generates the grid.
    Provides filtering/sorting/pagination.
*@

@Html.Grid(Model).Columns(columns =>
{
    // student id
    columns.Add(data => data.StudentId)
        .Titled("Student ID")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // student LastName
    columns.Add(data => data.StudentLastName)
        .Titled("Surname")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // course id
    columns.Add(data => data.CourseId)
        .Titled("Course ID")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // course Title
    columns.Add(data => data.Title)
        .Titled("Title")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // course status
    columns.Add(data => data.CourseStatus)
        .Titled("Course status")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // view
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("View", "Details", new { id = data.CourseEnrolmentId }));
    // edit
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Edit", "Edit", new { id = data.CourseEnrolmentId }));
    // delete
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Delete", "Delete", new { id = data.CourseEnrolmentId }));
}).WithPaging(15).Sortable(true)
