@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2>Business case for <a href="https://www.sqlite.org/">SQLite</a></h2>
    <p class="lead">
        It is a portable database solution with no dependent software or SQL server connections required. The database is a single file, and the project is self contained, deployed with packaged .dll files.
        Unlike Access databases, <a href="https://www.sqlite.org/">SQLite</a> is compatible with Entity Framework in .NET MVC, driving rapid development of CRUD grid views seen in this web application.
    </p>
</div>