body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/**************
 * CUSTOM CSS *
 **************/

/* Centers an image */
.center {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Override default jumbotron, add 30px top margin */
.jumbotron {
    margin-top: 30px;
}

/* Adjusting span padding for action/cancel buttons */
.span-btn-action {
    padding-left: 15px;
    width: auto;
}

.span-btn-cancel {
    margin-left: 10px !important;
    width: auto;
}

.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
