<footer>
    <p>
        &copy; @DateTime.Now.Year Martin Ponce -
        Built with:
        <a href="https://www.sqlite.org/" target=":blank">SQLite</a> | 
        <a href="http://getbootstrap.com/" target=":blank">Bootstrap</a> |
        <a href="https://gridmvc.codeplex.com/" target=":blank">Grid.Mvc</a> |
        <a href="https://github.com/JeremySkinner/FluentValidation" target=":blank">FluentValidation</a> |
        <a href="https://github.com/Eonasdan/bootstrap-datetimepicker">Bootstrap.v3.Datetimepicker</a> | 
        <a href="http://www.flaticon.com/" target=":blank">Flaticon</a>
    </p>
</footer>