@model IEnumerable<A2.University.Web.Models.UnitIndexViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Manage Units";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/unit.png")" />
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Add, edit or delete units
            </p>
        </div>
    </div>
</div>

<div class="row vert-gap">
    <div class="col-md-12">
        <span>
            <a href="@Url.Action("Create", "Unit")">Create New Unit</a>
        </span>
    </div>
</div>

@*
    Grid.Mvc package generates the grid.
    Provides filtering/sorting functions.
    20 items per page.
*@

@Html.Grid(Model).Columns(columns =>
{
    // unit id
    columns.Add(data => data.UnitId)
        .Titled("Unit ID")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // unit Title
    columns.Add(data => data.Title)
        .Titled("Title")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // coordinator
    columns.Add(data => data.StaffFullName)
        .Titled("Coordinator")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // credit points
    columns.Add(data => data.CreditPoints)
        .Titled("CP").Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // unit type
    columns.Add(data => data.UnitTypeTitle)
        .Titled("Unit Type")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // view
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("View", "Details", new { id = data.UnitId }));
    // edit
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Edit", "Edit", new { id = data.UnitId }));
    // delete
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Delete", "Delete", new { id = data.UnitId }));
}).WithPaging(20).Sortable(true)