@using GridMvc.Html
@model IEnumerable<A2.University.Web.Models.StaffPortal.ResultsIndexViewModel>

@{
    Layout = "~/Views/Shared/_LayoutStaffPortal.cshtml";
    ViewBag.Title = "Student Results";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/results.png")" />
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                View student progress per course
            </p>
        </div>
    </div>
</div>

@*
    Grid.Mvc package generates the grid.
    Provides filtering/sorting/pagination.
*@

@Html.Grid(Model).Columns(columns =>
{
    // student id
    columns.Add(data => data.StudentId)
        .Titled("Student ID")
        .Filterable(true)
        .SetFilterWidgetType("System.Int32");
    // student firstname
    columns.Add(data => data.StudentFirstName)
        .Titled("First name")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // student lastname
    columns.Add(data => data.StudentLastName)
        .Titled("Last name")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // course id
    columns.Add(data => data.CourseId)
        .Titled("Course ID")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // course id
    columns.Add(data => data.Title)
        .Titled("Title")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // status
    columns.Add(data => data.CourseStatus)
        .Titled("Status")
        .Filterable(true)
        .SetFilterWidgetType("System.String");
    // view
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(data => Html.ActionLink("Progress", "Progress", new
        {
            studentId = data.StudentId,
            courseId = data.CourseId
        }));
}).WithPaging(10).Sortable(true)

<a class="btn btn-default button-top-gap" href="@Url.Action("Index", "StaffPortal")">Back</a>