@model IEnumerable<A2.University.Web.Models.Entities.Course>
@using GridMvc.Html

@{
    ViewBag.Title = "Manage Courses";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/img/icons/course.png")"/>
        </div>
        <div class="col-md-10">
            <h2>@ViewBag.Title</h2>
            <p class="lead">
                Add, edit or delete courses
            </p>
        </div>
    </div>
</div>

<div class="row vert-gap">
    <div class="col-md-12">
        <span>
            <a href="@Url.Action("Create", "Course")">Create New Course</a>
        </span>
    </div>
</div>

@*
    Grid.Mvc package generates the grid.
    Provides filtering/sorting functions.
    20 items per page.
*@

@Html.Grid(Model).Columns(columns =>
{
    
})