
@{
    ViewBag.Title = "Success!";
}

<h2>ViewBag.Title</h2>

<p>PLACEHOLDER: You have successfully entered data!</p>
<a class="btn btn-default" href="@Url.Action("Index", "Home")">Home</a>

@*TODO: Display appropriate section, ie. Student, Unit or Course. Show appropriate button to return to section.*@
@*TODO: Show new created record as a table or CRUD WebGrid.*@